#commitments, #domain-nav, .tabbable, #purchase-history .bulk-actions-border, #purchase-history .container-options, #gh-top, #gh-shop, #gh-f, .order-action-wrap, .coln5.action-col, a.flt-r.surveyLink, #purchase-history .merch-placeholder, #cancel-commits, #cancel-invoices, #returns, #myebay-footer-ad, #footer {
    display: none !important;
}

#mainContent {
    margin-left: 0;
}
header#gh {
    padding-top: 10px;
}
#purchase-history .orders .order-item-count {
    margin-top: 0;
}
#purchase-history .orders .order-info-wrap {
    float: right;
    margin-right: 1em;
}

