#domain-nav,
#nav-bar,
.tabbable,
#purchase-history .bulk-actions-border,
#purchase-history .item-actions,
#purchase-history .item-list-all .i200 .image-shadow,
#purchase-history .item-spec-r .item-list-header.row-header.state-delivered,
#purchase-history .item-spec-r .ebay-notes,
#purchase-history .container-options,
#purchase-history .container-footer .pagination,
#purchase-history .merch-placeholder,
#gh-top, #gh-shop, #gh-f, #gh-gb,
.order-action-wrap,
.coln5.action-col,
a.flt-r.surveyLink,
#commitments,
#cancel-commits,
#cancel-invoices,
#returns,
#invoices,
#myebay-footer-ad,
#footer
{
    display: none !important;
}

#mainContent {
    margin-left: 0 !important;
}
header#gh {
    padding-top: 10px !important;
}
#purchase-history .orders .order-item-count {
    margin-top: 0 !important;
}
#purchase-history .orders .order-info-wrap {
    float: right !important;
    margin-right: 1em !important;
}
#purchase-history .item-list-all .i200,
#purchase-history .item-list-all .i200 .imgt,
#purchase-history .item-list-all .i200 .imgt img
{
	height: auto !important;
	max-height: inherit !important;
	
}

#purchase-history .orders .order-r .row-tr {
	display: flex;
}
#purchase-history .orders .order-r .row-tr .coln1,
#purchase-history .orders .order-r .row-tr .order-image-col .less-three {
	flex-grow: 1;
}

@media print {
	#gh-bt {
		display: none !important;
	}
}	

/*<link href="https://andreagrassi.net/dev/purchase_history_print.css" type="text/css" rel="stylesheet">*/
/*print at 89%*/
/*page-break-after: always;*/